<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import {Head, useForm} from "@inertiajs/vue3";
import PrimaryButton from "@/Components/PrimaryButton.vue";
//import {ref} from "vue";
defineProps({
    rols: {
        type: Array(String),
    }

});

const form = useForm({
    nom: '',
    selectedOption: null,

});
//const selectedOption = ref(null);
const myfunction1 = () => {
    form.post(route('EditRols'));
};
const myfunction2 = () => {
    form.post(route('RemoveRols'));
};
</script>

<template>
    <GuestLayout>
        <Head title="Actualitzar Rols" />
        <form>
            <div>
                <InputLabel for="nom2" value="Nom:" />
                <select id="selectOption" v-model="form.selectedOption">
                    <option v-for="(idRols, id, nom) in rols" :key="idRols.idRols" :value="idRols.idRols">
                        {{ idRols.nom }}
                    </option>
                </select>
                <InputLabel for="nom" value="Nou Nom:" />
                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.nom"
                    required
                    autofocus
                    autocomplete="nom"
                />

            </div>
            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="myfunction1" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Actualitzar
                </PrimaryButton>
                <PrimaryButton @click="myfunction2" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Borrar
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>

<style scoped>

</style>
