<script setup>
import {Head, useForm} from "@inertiajs/vue3";
import TextInput from "@/Components/TextInput.vue";
import InputLabel from "@/Components/InputLabel.vue";
import InputError from "@/Components/InputError.vue";
import {ref} from "vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
defineProps({
    user: {
        type: Array(String),
    },
    rols: {
        type: Array(String),
    },
});
const form = useForm({
    id:0,
    nom:'',
    email: '',
    selectedOption:null

});
const selectedOption = ref(null);
const myfunction1 = (user) => {

    form.id=user.id;
    form.selectedOption = user.idRolsEthan;
    form.post(route('SetUserRol'));
};
</script>

<template>
    <authenticated-layout>
        {{user}}
        <div class="container mt-3">
            <Head title="Actualitzar Rol Usuari " />

            <form class="mt-6 space-y-6">
                <div class="mt-3 block w-full">
                    <InputLabel for="name" value="name" />

                    <input
                        id="name"
                        type="text"
                        class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm"
                        required
                        disabled="true"
                        v-bind:value="user.name"
                    />
                </div>

                <div class="mt-3 block w-full">
                    <InputLabel for="email" value="email" />

                    <input
                        id="email"
                        type="text"
                        class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm"
                        required
                        disabled="true"
                        v-bind:value="user.email"
                    />
                </div>

                <select id="selectOption" v-bind="user.idRols" v-model="user.idRolsEthan">
                    <option v-for="(idRols, id, nom) in rols" :key="idRols.idRols" :value="idRols.idRols">
                        {{ idRols.nom }}
                    </option>
                </select>
                <div class="flex items-center justify-end mt-4">
                    <PrimaryButton @click="myfunction1(user)" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Actualitzar
                    </PrimaryButton>

                </div>
            </form>
        </div>
    </authenticated-layout>
</template>

<style scoped>

</style>
