<script setup>
import {useForm} from "@inertiajs/vue3";

import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

const form = useForm({
    nom:'',
})
const submit = () => {
    form.post(route('AddRols'));
};

const myfunction = () => {
    form.post(route('AddRols'));
};

</script>

<template>
    <GuestLayout>
        <Head title="Afegir Rols" />

        <!--<form @submit.prevent="submit">-->
        <form>
            <div>
                <InputLabel for="nom" value="Nom:" />
                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.nom"
                    required
                    autofocus
                    autocomplete="nom"
                />
            </div>
            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="myfunction" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Afegir
                </PrimaryButton>
            </div>
        </form>

    </GuestLayout>

</template>

<style scoped>

</style>
