<script setup>
defineProps({
    var1:{type:String},
    var2:{type:String}
});
</script>

<template>
    <p>Variable 1:{{var1}}</p>
    <p>Variable 2:{{var2}}</p>

</template>

<style scoped>

</style>
