<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import {useForm} from "@inertiajs/vue3";
import InputLabel from "@/Components/InputLabel.vue";
import {ref} from "vue";

defineProps({
    figurant: {
        type: Array(String),
    },

});

const form = useForm({
    id:0,
    foto:null,
    cv:null,

});

const myfunction = (id) => {

    form.id=id;
    form.post(route('SaveFigurant'));
};

const myfunction2 = () => {

    form.get(route('LlistarFigurants'));
};

const previewFiles1 = (event) =>{
        console.log(event.target.files[0]);
        form.foto=event.target.files[0];

};
const previewFiles2 = (event) =>{
    console.log(event.target.files[0]);
    form.cv=event.target.files[0];

};
</script>

<template>

    <authenticated-layout>
        <div class="container mt-3">
            {{figurant}}
            <form class="mt-6 space-y-6" enctype="multipart/form-data">
                <InputLabel for="name" value="ID:" />

                <input
                    id="id"
                    type="text"
                    class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm"
                    required
                    disabled="true"
                    v-bind:value="figurant.idFigurants"
                />

                <InputLabel for="foto" value="Foto:" />
                <input type="file" name="fitxerfoto" @change="previewFiles1"><br/>

                <InputLabel for="cv" value="CV:" />
                <input type="file" name="fitxercv" @change="previewFiles2">
                <div class="flex items-center justify-end mt-4">
                    <PrimaryButton @click="myfunction(figurant.idFigurants)" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Actualitzar
                    </PrimaryButton>
                    <PrimaryButton @click="myfunction2" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Cancelar
                    </PrimaryButton>

                </div>

            </form>
        </div>
    </authenticated-layout>
</template>

<style scoped>

</style>
