<script setup>
import {Head, useForm} from "@inertiajs/vue3";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import InputError from "@/Components/InputError.vue";
const form = useForm({
    nom: '',

});
const myfunction = () => {
    form.post(route('Filter'));
};

</script>

<template>
    <GuestLayout>
        <Head title="Filter Rols" />


        <form>
            <div>
                <InputLabel for="nom" value="Nom:" />

                <TextInput
                    id="nom"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.nom"
                    required
                    autofocus
                    autocomplete="nom"
                />

                <InputError class="mt-2" :message="form.errors.nom" />
            </div>
            <div class="flex items-center justify-end mt-4">
                <PrimaryButton @click="myfunction" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Filtrar
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>

<style scoped>

</style>
