<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import {Head, useForm} from "@inertiajs/vue3";
import {ref} from "vue";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";

defineProps(
    {
        users:{
            type:Array(String),
        },
        rols:{
            type:Array(String),
        }
    }
);
const form = useForm(
    {selectedOption:null,}
)

const selectedOption = ref(null);
const myfunction=() =>{
    form.post(route('GetAllUsersByRol'));
}

</script>

<template>
<authenticated-layout>
    <div class="container mt-3">
    <Head title="Llistar usuaris per rols" />

    <form>

        <select id="selectOption" v-model="form.selectedOption">
            <option v-for="(idRols, id, nom) in rols" :value="idRols.idRols" >
                {{idRols.nom}}
            </option>
        </select>

        <div>
            <table class="table table-striped-columns table-bordered">
                <tr>
                    <th>Email</th>
                    <th>Nom user</th>
                </tr>
                <tr v-for="(user,id) in users" :key="id">
                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                </tr>
            </table>
        </div>
        <div class="flex items-center justify-end mt-4">
            <PrimaryButton @click="myfunction" class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Lucas Filtrar!!
            </PrimaryButton>
        </div>


    </form>
    </div>

</authenticated-layout>


</template>

<style scoped>

</style>
