<script setup>
import 'bootstrap/dist/css/bootstrap.css';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

defineProps({
    rols:{
        type:Array(String),
    }
})


</script>

<template>
    <AuthenticatedLayout>
<div class="container mt-3">
    <table class="table table-striped-columns table-bordered">
        <tr>
            <th>ID Rol</th>
            <th>Nom Rol</th>
        </tr>
        <tr v-for="(idRols,nom) in rols" >
            <td>{{idRols.idRols}}</td>
            <td>{{idRols.nom}}</td>
        </tr>
    </table>
</div>
    </AuthenticatedLayout>

</template>

<style scoped>

table,td,th{
    border: 1px solid #000;
    border-collapse: collapse;
}
th{
    background-color: lime;
    font-weight: bold;
}
</style>
