<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import 'bootstrap/dist/css/bootstrap.css';
import PrimaryButton from "@/Components/PrimaryButton.vue";
import {useForm} from "@inertiajs/vue3";
defineProps({
    users: {
        type: Array(String),
    },
});

const form = useForm({
    id: 0,

});

const myfunction1 = (id) => {
    form.id=id;
    form.post(route('EditUserRol'));

};
</script>

<template>
    <authenticated-layout>
        <div class="container mt-3">

            <table class="table table-striped-columns table-bordered">
                <tr>
                    <th>Nom User</th>
                    <th>Correu User</th>
                    <th>Nom Rol</th>
                    <th>Acció</th>
                </tr>

                <tr v-for="(user,nom) in users" :key="id">

                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.rol}}</td>
                    <td>
                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ms-4" @click="myfunction1(user.id)" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Canviar Rol
                            </PrimaryButton>

                        </div>
                    </td>
                </tr>

            </table>

        </div>
    </authenticated-layout>
</template>

<style scoped>

</style>
