<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import 'bootstrap/dist/css/bootstrap.css';
import PrimaryButton from "@/Components/PrimaryButton.vue";
import {useForm} from "@inertiajs/vue3";
defineProps({
    figurants: {
        type: Array(String),
    },
});

const form = useForm({
    id: 0,

});

const myfunction1 = (id) => {
    form.id=id;
    form.post(route('EditFigurantFiles'),
        {onError:() =>{
                if(forms.errors.cv){
                    alert("CV no passa la validació de fitxers!!")
                }
            }
        });

};
</script>

<template>
    <authenticated-layout>
        <div class="container mt-3">
            <table class="table table-striped-columns table-bordered">
                <tr>
                    <th>Id Figurant</th>
                    <th>Nom Figurant</th>
                    <th>Foto</th>
                    <th>CV</th>
                </tr>

                <tr v-for="(figurant,id,nom) in figurants" :key="id">

                    <td>{{figurant.idFigurants}}</td>
                    <td>{{figurant.nom}}</td>
                    <td><a :href="'/uploads/'+figurant.foto">{{figurant.foto}}</a></td>
                    <td><a :href="'/uploads/'+figurant.cv">{{figurant.cv}}</a></td>
                    <td>
                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ms-4" @click="myfunction1(figurant.idFigurants)" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Canviar fitxers
                            </PrimaryButton>

                        </div>
                    </td>
                </tr>

            </table>

        </div>
    </authenticated-layout>

</template>

<style scoped>

</style>
