<script setup>

import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
</script>

<template>
    <AuthenticatedLayout>
        No tens permisos
    </AuthenticatedLayout>
</template>

<style scoped>

</style>
